<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#">账户信息</a></li>
    <li><%= link_to '我的面试', manager_interviews_path%></li>
    <li><a href="#">模版管理</a></li>
    <li><a href="#">帮助文档</a></li>
  </ul>
</div>
